@font-face {
	font-family: 'Hack';
	src:	url('/fonts/Hack-Regular.ttf') format('truetype');
} 
@font-face {
	font-family: 'Hack';
	src:	url('/fonts/Hack-Bold.ttf') format('truetype');
	font-weight: bold;
} 
@font-face {
	font-family: 'Hack';
	src:	url('/fonts/Hack-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
} 
@font-face {
	font-family: 'Hack';
	src:	url('/fonts/Hack-Italic.ttf') format('truetype');
	font-style: italic;
}

html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	padding: 1.5em;
}

body {
	background: #000;
	margin: auto;
	max-width: 52em;
	line-height: 1.5em;
	font-size: 18px;
	color: #c6c8d1;
}

* {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#toptextlogo {
	color: #c0ca8e;
	text-decoration: none;
	font-family: Hack;
}

.logo {
	vertical-align: middle;
	margin-right: 0.5em;
	max-height: 30px;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar > li {
	float: left;
	padding-left: 0;
	vertical-align: middle;
}

.navbar > li.f-right {
	float: right;
}

.navbar > li > a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 12px;
	font-size: 20px;
}

.navbar > li:not(.f-right) > a {
	padding: 14px 14px 14px 0;
}

.navbar > li.f-right > a {
	padding: 14px 0 14px 14px;
}

.navbar > li > a:hover {
	color: #c0ca8e;
}

/* strong, h1, h2, h3, h4 { */
strong {
	color: #fff;
}

p {
	text-align: justify;
}

p, h1, h2, h3, h4 {
	line-height: 1.5em;
}

a {
	color: #91acd1;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}

code {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;

	font-family: Hack;
	color: #c0ca8e;
}

pre > code {
	font-size: 16px;
	background: #161821;
	display: block;
	padding: 10px 15px;
}

blockquote {
	padding-left: 1em;
	font-style: italic;
	border-left: solid 4px #ada0d3;
}

footer p {
	font-family: Times;
	font-size: small;
	text-align: left;
}
